# --- KUBERNETES / INFRASTRUCTURE ---
/infra/

# --- FIREBASE ---
**/google-services.json
**/google-services.xml
**/google-services-info.plist
**/firebase.json
**/.firebaserc
**/lib/firebase_options.dart

# --- JAVA / SPRING BOOT ---
**/target/
**.class
**.jar
**.war
**.ear
.mtj.tmp/

# --- FLUTTER / DART ---
**/.dart_tool/
**/build/
**/.packages
**/.pub-cache/
**/.pub/
**/fvm/
**/ios/.generated/
**/android/local.properties
**/android/key.properties

# --- IDEs (Eclipse, VS Code, IntelliJ) ---
**/.settings/
**/.project
**/.classpath
**/.metadata/
**/.factorypath
**/.vscode/
**/.idea/
**.iml

# --- GRADLE ---
.gradle/
**/gradle/wrapper/gradle-wrapper.jar
.gradle

# --- SISTEMA / DOCKER ---
**.DS_Store
**Thumbs.db
**.env
**docker-compose.override.yml